{{ define "main" }}
<section id="main">
  <div class="inner">
    <header class="major">
      <h1>Podcast: Diagram the Damn Thing</h1>
    </header>
    <p>Our podcast, <strong>Diagram the Damn Thing</strong>, explores automation, clarity, and system design  
    from a visual-first perspective.  
    Short episodes. Deep ideas. Practical takeaways.</p>
    <p>We believe that before you can build anything worthwhile, you must first see it clearly.</p>
    <a href="/podcast/" class="button primary">View Episodes</a>
  </div>
</section>
{{ end }}