.post-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 2rem;
}

@media screen and (max-width: 736px) {
    .post-nav {
        flex-direction: column;
    }
}