{{ define "main" }}
<!-- Intro Section -->
<section id="intro" class="major">
  <div class="inner">
    <header class="major">
      <h1>Methodical Cloud</h1>
    </header>
    <div class="content">
      <p>Visualizing systems, designing better automation, and building workflows that actually work.</p>
      <p>Stay tuned for insightful podcasts, blogs, and educational content around automation and systems design.</p>
      <ul class="actions">
          <li><a href="#main" class="button next scrolly">Explore</a></li>
      </ul>
    </div>
  </div>
</section>

<!-- Main Section -->
<section id="main" class="main">
  <div class="inner">
    <section>
      <p>Methodical Cloud builds on the foundation of Everything Should Be Virtual, evolving into a content-driven platform dedicated to clarity in automation, workflow design, and scalable systems management. Our mission remains the same — bringing thoughtful, intentional design to complex systems.</p>
    </section>

    <!-- Featured Section -->
    <section class="post featured">
      <header class="major">
        <h2>Featured Project:<br />Diagram the Damn Thing</h2>
        <p>A podcast and visual-first series exploring automation, clarity, and systems design without the noise.</p>
      </header>
      <a href="/podcast/" class="button large">Visit Podcast</a>
    </section>
  </div>
</section>
{{ end }}