<header id="header">
  <a href="/" class="logo"><strong>Methodical Cloud</strong></a>
  <nav id="nav">
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/podcast/">Podcast</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </nav>
  <nav>
    <a href="#menu">Menu</a> <!-- For mobile hamburger menu -->
  </nav>
</header>

<!-- Hidden mobile menu -->
<nav id="menu">
  <ul class="links">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/podcast/">Podcast</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
</nav>