<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
    <title>404 — Methodical Cloud</title>
</head>

<body>
    {{ partial "header.html" . }}
    <main id="main">
        <section class="hero-section">
            <div class="hero-content">
                <h1 class="hero-title">You broke the damn thing.</h1>
                <p class="hero-subtitle">Or maybe we did. Either way, that page doesn't exist.</p>
                <a href="/" class="button">Back to Home</a>
            </div>
        </section>
    </main>
    {{ partial "footer.html" . }}
</body>

</html>