{{ define "main" }}
<section id="banner">
  <div class="inner">
    <h2>Methodical Cloud</h2>
    <p>Visualizing systems, designing better automation, and building workflows that actually work.<br />
    Stay tuned for insightful podcasts, blogs, and educational content around automation and systems design.</p>
    <ul class="actions special">
      <li>
        <a href="{{ "/about/" | relURL }}" class="button primary home-scroll">Learn More</a>
      </li>
    </ul>
  </div>
</section>
{{ end }}