{{ define "main" }}
<!-- Banner / Intro -->
<section id="banner">
  <div class="inner">
    <h2>Methodical Cloud</h2>
    <p>Visualizing systems, designing better automation, and building workflows that actually work.<br />
    Stay tuned for insightful podcasts, blogs, and educational content around automation and systems design.</p>
    <ul class="actions special">
      <li><a href="{{ "/about/" | relURL }}" class="button primary">Learn About Us</a></li>
    </ul>
  </div>
  <a href="{{ "/about/" | relURL }}" class="more scrolly">Learn More</a>
</section>
{{ end }}