{{ define "main" }}
<!-- Banner / Intro -->
<section id="banner">
  <div class="inner">
    <h2>Methodical Cloud</h2>
    <p>Visualizing systems, designing better automation, and building workflows that actually work.<br />
    Stay tuned for insightful podcasts, blogs, and educational content around automation and systems design.</p>
    <ul class="actions special">
      <li><a href="#main" class="button primary">Explore</a></li>
    </ul>
  </div>
  <a href="#main" class="more scrolly">Learn More</a>
</section>

<!-- Main Content Below -->
<section id="main">
  {{ .Content }}
</section>
{{ end }}