{{ define "main" }}
<section id="main">
    <div class="inner">
        <header class="major">
            <h1>Tags</h1>
        </header>

        <p>Explore topics by tag. The larger the label, the more posts there are.</p>

        <div class="tag-cloud">
            {{ range .Data.Terms.Alphabetical }}
            <a href="{{ .Page.Permalink }}" class="tag"
                style="font-size: {{ add 0.8 (mul 0.1 (math.Log .Count)) }}rem;">
                {{ .Page.Title }} ({{ .Count }})
            </a>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}